/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Clase fixed-width container que se "autocentrará" a sí misma */
.container {
    width: 1200px;
    margin: 0 auto;
}
.btn {
    color:darkturquoise;
    background-color:white;
    border-radius: 10px;
    border: 1px;
    border-color:darkturquoise;
    width: 100px;
    border-style: solid;
    
}
.row {
    display: flex;
}
.col {
    flex: 1;
    background-color: lightgreen;
    padding: 20px;
    margin: 10px;
    
}
.col-2 {
    flex: 3;
    background-color: lightgreen;
    padding: 20px;
    margin: 10px;
}
.col-3 {
    flex: 5;
    background-color: lightgreen;
    padding: 20px;
    margin: 10px;
}
.nav {
    background-color: rgb(104, 100, 100);
    font-family: 'Outfit', sans-serif;
    height: 50px;
    color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 20px;